
*.bin
*.lock
*.dill
android/.gradle/4.10.2/fileHashes/fileHashes.bin
android/.gradle/4.10.2/fileHashes/fileHashes.lock
android/.gradle/4.10.2/fileHashes/resourceHashesCache.bin
android/.gradle/4.10.2/javaCompile/jarAnalysis.bin
android/.gradle/4.10.2/javaCompile/javaCompile.lock
android/.gradle/4.10.2/javaCompile/taskHistory.bin
android/.gradle/4.10.2/taskHistory/taskHistory.bin
android/.gradle/4.10.2/taskHistory/taskHistory.lock
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
android/.gradle/buildOutputCleanup/outputFiles.bin
android/local.properties
build/app.dill.track.dill
build/app/generated/not_namespaced_r_class_sources/release/processReleaseResources/r/com/example/soru_bank/R.java
build/app/generated/source/buildConfig/release/com/example/soru_bank/BuildConfig.java
build/app/intermediates/annotation_processor_list/release/javaPreCompileRelease/annotationProcessors.json
build/app/intermediates/apk_list/release/mainApkListPersistenceRelease/apk-list.gson
build/app/intermediates/blame/res/release/multi-v2/release.json
build/app/intermediates/blame/res/release/multi-v2/values.json
build/app/intermediates/blame/res/release/single/release.json
build/app/intermediates/compatible_screen_manifest/release/createReleaseCompatibleScreenManifests/out/output.json
build/app/intermediates/flutter/debug/flutter_assets/kernel_blob.bin
build/app/intermediates/flutter/debug/snapshot_blob.bin.d.fingerprint
build/app/intermediates/flutter/release/flutter_assets/AssetManifest.json
build/app/intermediates/flutter/release/flutter_assets/FontManifest.json
build/app/intermediates/flutter/release/flutter_assets/fonts/MaterialIcons-Regular.ttf
build/app/intermediates/flutter/release/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
build/app/intermediates/flutter/release/frontend_server.d
build/app/intermediates/flutter/release/gen_snapshot.d
build/app/intermediates/flutter/release/isolate_snapshot_data
build/app/intermediates/flutter/release/isolate_snapshot_instr
build/app/intermediates/flutter/release/kernel_compile.d
build/app/intermediates/flutter/release/kernel_compile.d.fingerprint
build/app/intermediates/flutter/release/snapshot.d.fingerprint
build/app/intermediates/flutter/release/vm_snapshot_data
build/app/intermediates/flutter/release/vm_snapshot_instr
build/app/intermediates/incremental/debug-mergeJavaRes/merge-state
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/2F+qCDLKy0SgXUTBoA9WHH3odkw=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/5J7k3enzE6DaE9eV3H_5h8OO6Dc=
build/app/intermediates/incremental/debug-mergeJniLibs/merge-state
build/app/intermediates/incremental/debug-mergeJniLibs/zip-cache/2F+qCDLKy0SgXUTBoA9WHH3odkw=
build/app/intermediates/incremental/debug-mergeJniLibs/zip-cache/5J7k3enzE6DaE9eV3H_5h8OO6Dc=
build/app/intermediates/incremental/mergeReleaseAssets/merger.xml
build/app/intermediates/incremental/mergeReleaseJniLibFolders/merger.xml
build/app/intermediates/incremental/mergeReleaseResources/compile-file-map.properties
build/app/intermediates/incremental/mergeReleaseResources/merged.dir/values/values.xml
build/app/intermediates/incremental/mergeReleaseResources/merger.xml
build/app/intermediates/incremental/mergeReleaseShaders/merger.xml
build/app/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
build/app/intermediates/incremental/packageDebug/tmp/debug/file-input-save-data.txt
build/app/intermediates/incremental/packageRelease/tmp/release/dex-renamer-state.txt
build/app/intermediates/incremental/packageRelease/tmp/release/file-input-save-data.txt
build/app/intermediates/incremental/packageRelease/tmp/release/zip-cache/ef1B9yV_nQFPvqFRmfA0cpe8G7Q=
build/app/intermediates/incremental/release-mergeJavaRes/merge-state
build/app/intermediates/incremental/release-mergeJavaRes/zip-cache/lmmFdioTJ4XfHN9OJWzi56A_aSc=
build/app/intermediates/incremental/release-mergeJniLibs/merge-state
build/app/intermediates/incremental/release-mergeJniLibs/zip-cache/lmmFdioTJ4XfHN9OJWzi56A_aSc=
build/app/intermediates/instant_run_merged_manifests/release/processReleaseManifest/instant-run/output.json
build/app/intermediates/javac/release/compileReleaseJavaWithJavac/classes/com/example/soru_bank/BuildConfig.class
build/app/intermediates/javac/release/compileReleaseJavaWithJavac/classes/com/example/soru_bank/MainActivity.class
build/app/intermediates/javac/release/compileReleaseJavaWithJavac/classes/com/example/soru_bank/R$drawable.class
build/app/intermediates/javac/release/compileReleaseJavaWithJavac/classes/com/example/soru_bank/R$mipmap.class
build/app/intermediates/javac/release/compileReleaseJavaWithJavac/classes/com/example/soru_bank/R$style.class
build/app/intermediates/javac/release/compileReleaseJavaWithJavac/classes/com/example/soru_bank/R.class
build/app/intermediates/javac/release/compileReleaseJavaWithJavac/classes/io/flutter/plugins/GeneratedPluginRegistrant.class
build/app/intermediates/merged_assets/debug/mergeDebugAssets/out/flutter_assets/kernel_blob.bin
build/app/intermediates/merged_assets/release/mergeReleaseAssets/out/flutter_assets/AssetManifest.json
build/app/intermediates/merged_assets/release/mergeReleaseAssets/out/flutter_assets/FontManifest.json
build/app/intermediates/merged_assets/release/mergeReleaseAssets/out/flutter_assets/LICENSE
build/app/intermediates/merged_assets/release/mergeReleaseAssets/out/flutter_assets/fonts/MaterialIcons-Regular.ttf
build/app/intermediates/merged_assets/release/mergeReleaseAssets/out/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
build/app/intermediates/merged_assets/release/mergeReleaseAssets/out/isolate_snapshot_data
build/app/intermediates/merged_assets/release/mergeReleaseAssets/out/isolate_snapshot_instr
build/app/intermediates/merged_assets/release/mergeReleaseAssets/out/vm_snapshot_data
build/app/intermediates/merged_assets/release/mergeReleaseAssets/out/vm_snapshot_instr
build/app/intermediates/merged_manifests/release/processReleaseManifest/merged/AndroidManifest.xml
build/app/intermediates/merged_manifests/release/processReleaseManifest/merged/output.json
build/app/intermediates/processed_res/release/processReleaseResources/out/output.json
build/app/intermediates/processed_res/release/processReleaseResources/out/resources-release.ap_
build/app/intermediates/res/merged/release/drawable_launch_background.xml.flat
build/app/intermediates/res/merged/release/mipmap-hdpi_ic_launcher.png.flat
build/app/intermediates/res/merged/release/mipmap-mdpi_ic_launcher.png.flat
build/app/intermediates/res/merged/release/mipmap-xhdpi_ic_launcher.png.flat
build/app/intermediates/res/merged/release/mipmap-xxhdpi_ic_launcher.png.flat
build/app/intermediates/res/merged/release/mipmap-xxxhdpi_ic_launcher.png.flat
build/app/intermediates/res/merged/release/values_values.arsc.flat
build/app/intermediates/split_list/release/splitsDiscoveryTaskRelease/split-list.gson
build/app/intermediates/transforms/dexBuilder/debug/4.jar
build/app/intermediates/transforms/dexBuilder/debug/5.jar
build/app/intermediates/transforms/dexBuilder/debug/6.jar
build/app/intermediates/transforms/dexBuilder/debug/7.jar
build/app/intermediates/transforms/dexBuilder/debug/__content__.json
build/app/intermediates/transforms/dexBuilder/release/0.jar
build/app/intermediates/transforms/dexBuilder/release/1.jar
build/app/intermediates/transforms/dexBuilder/release/2.jar
build/app/intermediates/transforms/dexBuilder/release/3.jar
build/app/intermediates/transforms/dexBuilder/release/4/com/example/soru_bank/BuildConfig.dex
build/app/intermediates/transforms/dexBuilder/release/4/com/example/soru_bank/MainActivity.dex
build/app/intermediates/transforms/dexBuilder/release/4/com/example/soru_bank/R$drawable.dex
build/app/intermediates/transforms/dexBuilder/release/4/com/example/soru_bank/R$mipmap.dex
build/app/intermediates/transforms/dexBuilder/release/4/com/example/soru_bank/R$style.dex
build/app/intermediates/transforms/dexBuilder/release/4/com/example/soru_bank/R.dex
build/app/intermediates/transforms/dexBuilder/release/4/io/flutter/plugins/GeneratedPluginRegistrant.dex
build/app/intermediates/transforms/dexBuilder/release/__content__.json
build/app/intermediates/transforms/dexMerger/debug/__content__.json
build/app/intermediates/transforms/dexMerger/release/0/classes.dex
build/app/intermediates/transforms/dexMerger/release/__content__.json
build/app/intermediates/transforms/externalLibsDexMerger/release/0/classes.dex
build/app/intermediates/transforms/externalLibsDexMerger/release/__content__.json
build/app/intermediates/transforms/mergeJavaRes/release/0.jar
build/app/intermediates/transforms/mergeJavaRes/release/__content__.json
build/app/intermediates/transforms/mergeJniLibs/debug/0/lib/arm64-v8a/libflutter.so
build/app/intermediates/transforms/mergeJniLibs/debug/0/lib/armeabi-v7a/libflutter.so
build/app/intermediates/transforms/mergeJniLibs/release/0/lib/armeabi-v7a/libflutter.so
build/app/intermediates/transforms/mergeJniLibs/release/__content__.json
build/app/outputs/logs/manifest-merger-release-report.txt
build/app/reports/lint-results-release-fatal.html
build/app/reports/lint-results-release-fatal.xml
android/.gradle/4.10.2/fileHashes/fileHashes.bin
android/.gradle/4.10.2/fileHashes/fileHashes.lock
android/.gradle/4.10.2/taskHistory/taskHistory.bin
android/.gradle/4.10.2/taskHistory/taskHistory.lock
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
build/app.dill.track.dill
build/app.dill.track.dill.incremental.dill
build/app/intermediates/flutter/debug/flutter_assets/kernel_blob.bin
build/app/intermediates/flutter/debug/snapshot_blob.bin.d
build/app/intermediates/flutter/debug/snapshot_blob.bin.d.fingerprint
build/app/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
build/app/intermediates/incremental/packageDebug/tmp/debug/file-input-save-data.txt
build/app/intermediates/merged_assets/debug/mergeDebugAssets/out/flutter_assets/kernel_blob.bin
build/app/outputs/apk/app.apk
build/app/outputs/apk/app.apk.sha1
build/app/outputs/apk/debug/app-debug.apk
android/.gradle/4.10.2/fileHashes/fileHashes.lock
android/.gradle/4.10.2/fileHashes/fileHashes.bin
android/.gradle/4.10.2/taskHistory/taskHistory.bin
android/.gradle/4.10.2/taskHistory/taskHistory.lock
android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
build/app/intermediates/flutter/debug/flutter_assets/kernel_blob.bin
build/app/intermediates/flutter/debug/snapshot_blob.bin.d.fingerprint
build/app/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
build/app/intermediates/merged_assets/debug/mergeDebugAssets/out/flutter_assets/kernel_blob.bin
build/app/outputs/apk/app.apk
build/app/outputs/apk/app.apk.sha1
build/app/outputs/apk/debug/app-debug.apk
